body {
    height: 100vh;
    font-family: 'Mukta', sans-serif;
    display: grid;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: grid;
    /* grid-gap: 10px; */
    grid-template-rows: 50px 1fr;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

.box {}

header {
    color: #fff;
    text-align: right;
    font-size: 2em;
}

nav {
    color: #fff;
    width: 100px;
    height: 100%;
    text-align: left;
    padding: 2px;
}

.nav-item {
    padding-bottom: 10px;
}

.header {
    grid-area: header;
    background-color: blue;

}

.sidebar {
    grid-area: sidebar;
    background-color: grey;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr
}

.content {
    grid-area: content;
}

.hidden {
    display: none;
}

.user-info {
    padding-bottom: 1em;
}